.left-block {
    width: 30%;
    padding: 15px;
    float: left;
    box-sizing: border-box;
    background-color:rgba(85, 214, 207, 0.747);
}
.right-block {
    width: 70%;
    padding: 15px;
    float: left;
    box-sizing: border-box;
    background-color:rgba(127, 255, 212, 0.586);
}
.profile-image {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 6px 6px 35px rgba(242, 255, 0, 0.845);
}
